*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --purple: #350669;
    --blue-dark: #112c97;
    --blue-light: #0275EF;
    --dark-: #181b20;
    --placeholder:#252a32;
    --placeholder-text:#4b4e53;
}
body, html{
    height: 100%;
}

.main{
    width: 100%;
    min-height: 100%;
    background-image: url(./imagens/viego.jpg);
    background-size: cover;
    overflow: hidden;
    
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-login{
    background-color: var(--dark-);
    border-radius: 30px;
    width: 40rem;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3rem;
}
.card-login img{
    width: 10rem;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}
.login h2{
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
}
input{
    width: 30rem;
    height: 3.5rem;
    border-radius: 10px;
    padding: 14px;
    background-color: var(--placeholder);
    border: none;
    color: var(--placeholder-text);
    font-size: .9rem;
}
input:focus{
    outline: #0275EF 2px solid;
}
.continue{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    border-bottom: 1px var(--placeholder-text) dotted;
    padding-bottom: 3rem;
}
.continue button{
    height: 70%;
    width: 8rem;
    border-radius: 1rem;
    background-color: var(--blue-dark);
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
}

.continue button:hover{
    background-color: var(--blue-light);
    cursor: pointer;

}
.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}